.statsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.statContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 100%;
  height: 120px;

  @media screen and (max-width: 768px) {
    height: 80px;
  }

  border-radius: 12px;

  padding: 1.5rem;

  cursor: pointer;

  .number {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .title {
    font-size: 0.875rem;
  }
}
