.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.432);

  overflow: hidden;

  box-sizing: border-box;

  .innerContainer {
    width: 90%;
    max-width: 640px;
    height: 500px;

    background: white;

    border-radius: 12px;

    overflow-y: auto;

    padding: 2rem;
    box-sizing: border-box;
  }
}
