@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  @media screen and (max-width: 1080px) {
    font-size: 14px;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Poppins';
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;

  padding: 0 2rem;
  max-width: 1440px;
  height: 100vh;

  margin: auto;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 2rem 0;

    .logo {
      font-weight: 900;
      font-size: 1.75rem;

      cursor: pointer;
    }
  }
}

.box-shadow {
  box-shadow: 2px 2px 4px 0 rgb(51 51 51 / 34%);
  transition: all ease 0.4s;

  &:hover {
    box-shadow: 1px 1px 2px 0 rgb(51 51 51 / 20%);
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}
