.chartContainer {
  position: relative;
  max-width: 95%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 3rem 0;
  gap: 1rem;

  margin: 0 auto;

  & > div {
    display: flex;
    min-height: 300px;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      min-height: 200px;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
