.logs {
  padding: 0.5rem;
  width: 100%;

  font-size: 0.9375rem;

  resize: none;
  cursor: text;
}

.logHeading {
  font-size: 1rem;
  font-weight: 600;

  margin-bottom: 1rem;
}

.machineID {
  font-size: 1rem;
  font-weight: 700;

  text-transform: lowercase;

  span {
    font-weight: 500;
  }
}

.chartContainer {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 3rem 0;
  gap: 1rem;

  margin: 0 auto;

  & > div {
    display: flex;
    min-height: 300px;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      min-height: 200px;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.logContainer {
  margin: 2rem 0;
}
