.container {
  flex: 1;
  padding-bottom: 1rem;

  .heading {
    font-size: 1rem;
    font-weight: 600;

    padding: 1.5rem 0;
    cursor: pointer;
  }

  .gridContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    @media screen and (max-width: 1440px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 440px) {
      grid-template-columns: 1fr 1fr;
    }

    gap: 1rem;

    .vmGridItem {
      min-width: 12rem;
      width: 12rem;
      max-width: 12rem;

      height: 12rem;

      @media screen and (max-width: 600px) {
        min-width: 10rem;
        width: 10rem;
        max-width: 10rem;

        height: 10rem;
      }

      flex: 1;
      display: grid;
      grid-template-rows: 60% 40%;

      box-shadow: 2px 2px 4px 0 rgb(51 51 51 / 34%);
      transition: all ease 0.4s;

      &:hover {
        box-shadow: 1px 1px 2px 0 rgb(51 51 51 / 20%);
      }

      border-radius: 12px;

      cursor: pointer;
      overflow: hidden;

      svg {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      .details {
        padding: 1rem;

        .tag {
          font-size: 0.75rem;
          font-weight: 500;

          text-transform: lowercase;
        }
      }
    }
  }
}
